/* style.css */
.video-container {
    position: relative;
    width: 640px;
    margin: 0 auto;
}

#canvas {
    top: 0;
    left: 0;
    position: absolute;
}

#webcam {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-container button {
    margin: 0 10px; /* Adds 10px margin on left and right of each button */
}