<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website Title{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="{{ url_for('home') }}">基于深度神经网络的人脸监测系统</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}"><i class="fa-solid fa-house"></i>主页</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{url_for('database_builder')}}"><i class="fa-solid fa-database"></i>数据库搭建</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{url_for('tester')}}"><i class="fa-solid fa-wrench"></i>在线测试</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}"><i class="fa-solid fa-book"></i>项目介绍</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{url_for('contact')}}"><i class="fa-solid fa-hammer"></i>联系开发者</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" style="width: 80%;margin-top: 20px;margin-left: auto">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e845844c83.js" crossorigin="anonymous"></script>
</body>
</html>
