{% extends "base.html" %}

{% block title %}Tester{% endblock %}

{% block content %}
<div class="video-container">
    <video id="webcam" autoplay playsinline width="640" height="480"></video>
    <canvas id="canvas" width="640" height="480"></canvas>
    <div class="button-container">
        <button type="button" class="btn btn-success" id="startButton"><i class="fa-solid fa-camera"></i>开启摄像头</button>
        <button type="button" class="btn btn-danger" id="stopButton"><i class="fa-solid fa-power-off"></i>关闭摄像头</button>
    </div>
</div>
{% endblock %}